[Unit]
Description=Running Docker container,centos-ssh-apache-php image 
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill centoshttp
ExecStartPre=-/usr/bin/docker rm centoshttp
ExecStartPre=/usr/bin/docker pull jdeathe/centos-ssh-apache-php
ExecStart=/usr/bin/docker run -d --name centoshttp -p 8081:80 jdeathe/centos-ssh-apache-php  /usr/sbin/httpd -D FOREGROUND
ExecStop=/usr/bin/docker stop centoshttp

[Install]
WantedBy=multi-user.target


