[Unit]
    Description=JBoss EAP Systemctl script in standalone mode
    After=NetworkManager.service

[Service]
    Type=forking
    ExecStart=/opt/server/jboss-eap-6/bin/init.d/jboss-as-standalone.sh start
    ExecStop=/opt/server/jboss-eap-6/bin/init.d/jboss-as-standalone.sh stop
    ExecReload=/opt/server/jboss-eap-6/bin/init.d/jboss-as-standalone.sh restart
    PIDFile=/var/run/jboss-as/jboss-as-standalone.pid

[Install]
    WantedBy=multi-user.target
